<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Reading from Database</h1>

    <table border="1">

        <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>Password</th>
        </tr>

        {% for i in myusers %}
        <tr>
            <td> {{i.id}} </td>
            <td> {{i.username1}} </td>
            <td> {{i.password1}} </td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>